@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body{
  background-color: darkslategray;
  font-family: 'Amatic SC', cursive;
  height: 100vh;
}

.link{
  padding: 10px;
  color: azure;
  font-size: larger;
}

img{
  width: 500px;
  height: 500px;
  padding: 10px;
}

p{
  width: 500px;
  padding: 10px;
  color: beige;
  font-size: large;
  text-align: center;
  margin: auto
}

h1{
  padding: 10px;
  color: beige;
}

label{
    color: beige;
    margin: 10px;
}

input{
  margin: 10px;
}

textarea{
  width: 300px;
  height: 200px;
  margin: 10px;
}

div{
text-align: center;
}