
body{
  background-image: url("./assets/Birds.jpg");
  background-size: cover;
  height: 100vh;
}

.link{
  padding: 10px;
  color: azure;
  font-size: 30px;
  text-decoration: none;

}

.gallery{
  width: 500px;
  height: 500px;
  padding: 10px;
}

p{
  width: 500px;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  margin: auto;
  direction: rtl;
  color: white;
}

h1{
  padding: 5px;
  color: beige;
  font-size: 50px;
}

label{
    color: beige;
    margin: 10px;
    font-size: 25px;
}

input{
  margin: 10px;
  opacity: 0.3;
}

textarea{
  width: 300px;
  height: 200px;
  margin: 10px;
  opacity: 0.3;
}

div{
text-align: center;
}

button{
  font-size: 20px;
  opacity: 0.3;
}

#logo{
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 5px;
}

span{
    vertical-align: super;
}