@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
  background-color: darkslategray;
    font-family: 'Josefin Sans', cursive;
}

.link{
  padding: 10px;
  color: azure;
}

img{
  width: 500px;
  height: 500px;
  padding: 10px;
}

p{
  width: 500px;
  padding: 10px;
  color: beige;
}

h1{
  padding: 10px;
  color: beige;
}

label{
    color: beige;
    margin: 10px;
}

input{
  margin: 10px;
}

textarea{
  width: 300px;
  height: 200px;
  margin: 10px;
}